*{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    width: 1320px;
    margin: 0 auto;
}

.navbar-part{
    background-color: #FAE3B6;
    padding: 25px 0;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items .menu-part ul{
    display: flex;
    column-gap: 40px;
}
.nav-items .menu-part ul li a{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", sans-serif;
}
.nav-items .button-part a{
    color: #000000;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: inline-block;
    
}

.nav-items .button-part  a:first-child{
    background-color: #FDBB57 ;
    padding: 10px 28px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.4s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    
    
}
.nav-items .button-part  a:first-child:hover{
    background-color: transparent;
    border-color: #FDBB57;
}

.nav-items .button-part  a:last-child{
    background-color: transparent ;
    padding: 10px 28px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.4s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.nav-items .button-part  a:last-child:hover{
    background-color: #FDBB57;
    border-color: #FDBB57;
}



/* banner section */

.banner{
    background-color: #FAE3B6;
    padding-top: 110px;
    padding-bottom: 50px;
}
.banner .container{
    width: 1320px;
    margin: 0 auto;
}
.banner-part{
    display: flex;
}
.text-part{
    width: 50%;

}
.text-part h1{
    font-size: 60px;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    width: 500px;
}
.text-part p{
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    padding-top: 38px;
    padding-bottom: 76px;
    width: 500px;
}
.text-part button{
    padding: 25px 91px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    border: 1px solid transparent;
    transition: 0.4s;
}
.text-part button:hover{
    background:transparent;
    color: black;
    border-color: #000000;

}
.image-part{
    width: 50%;
    text-align: right;
}


/* collaction */

.collaction .container {
    padding-top: 217px;
    padding-bottom: 106px;
}

.collaction .container h2{
    font-size: 64px;
    font-weight: 700;
    text-align: center;

}

.box{
    display: flex;
    justify-content: space-around;
    padding-top: 106px;
}

.collaction .container .box1{
    width: 350px;
    height: 402px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.collaction .container .box1 img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.collaction .container .box1 .overlay{
    width: 100%;
    height: 100%;
    background-color: transparent ;
    position: absolute;
    border-radius: 20px;
    top: 100%;
    left: 0;
    content: "";
    transition: 0.4s;
    /* padding-top: 300px;
    padding-left: 10px; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.collaction .container .box1:hover .overlay{
    top: 0%;
    
}
.collaction .container .box1 .overlay a{
    background-color: white;
    padding: 10px 109px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: inline-block;
    border-radius: 20px;
    transition: 0.3s;
    
}

.collaction .container .box1 .overlay a:hover{
    background-color: rgb(225, 219, 219);
    
}


/* fashion */

.fashion .main{
    display: flex;
    align-items: center;
    position: relative;
}
.fashion .main .left{
    width: 50%;
}

.fashion .main .right{
    width: 50%;
    padding-left: 125px;
}
.fashion .main .right h2{
    font-size: 64px;
    font-weight: 700;
    font-family: "Frank Ruhl Libre", serif;
    width: 437px;
}
.fashion .main .right p{
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif ;
    padding-top: 63px;
    width: 443px;
}

.fashion .reviews-part{
    width: 793px;
    background-color: #FEECC8;
    bottom: -230px;
    right: 0;
    position: absolute;
    border-radius: 20px;
    padding: 72px 0px;
    display: flex;
    justify-content: space-around;
    z-index: -1;
}

.fashion .reviews-part .contant{
    border-right: 1px solid black;
    padding-right: 30px;
}
.fashion .reviews-part .contant:last-child{
    border-color: transparent;
}


.fashion .reviews-part .contant h4{
    font-size: 64px;
    font-weight: 700;
    font-family: "Podkova", serif;

}
.fashion .reviews-part .contant p{
    font-size: 28px;
    padding-top: 28px;
    font-weight: 600;
    font-family: "Poppins", sans-serif ;

}


/* seller section */

.seller-section{
    background-color: #CFA485;
    margin-top: 500px;
    padding-top: 36px;
    padding-bottom: 150px;
    position: relative;
}
.seller-section .point{
    top: -140px;
    left: 250px;
    z-index: -1;
    position: absolute;
}
.seller-section .div-part{
    display: flex;
    align-items: center;
}
.seller-section .left-part{
    width: 40%;
}

.seller-section .left-part h4{
    font-size: 64px;
    font-weight: 700;
    font-family: "Frank Ruhl Libre", serif;
    width: 437px;
    color: white;

}
.seller-section .left-part p{
    font-size: 24px;
    font-weight: 700;
    font-family: "Frank Ruhl Libre", serif;
    width: 437px;
    color: white;
    padding-top: 50px;
    padding-bottom: 45px;
}

.seller-section .left-part a{
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif ;
    padding: 24px 86px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.3s;
}
.seller-section .left-part a:hover{
    background-color: transparent;
    border-color: rgb(255, 255, 255);
}

.seller-section .right-part{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.seller-section .right-part .first-img{
    width: 366px;
    height: 551px;
    background-color: white;
    border-radius: 60px 60px 0 0;
    overflow: hidden;
    position: relative;
}


.seller-section .right-part .first-img img{
    height: 424px;
    width: 100%;
    object-fit: cover;
}

.seller-section .right-part .first-img .star{
    display: flex;
    padding-top: 15px;
    column-gap: 8px;
}
.seller-section  .right-part .first-img .pad{
    padding-left:22px;
}
.seller-section .right-part .first-img .star i{
    color: #FFAF37;
}
.seller-section .right-part .first-img h4{
    font-size: 22px;
    padding-top: 11px;
    font-weight: 600;
    font-family: "Poppins", sans-serif ;

}
.seller-section .right-part .first-img .pad .dolor{
    display: flex;
    column-gap: 31px;

}

.seller-section .right-part .first-img .pad .dolor span{
    font-size: 24px;
    font-weight: 400;
    font-family: "Poppins", sans-serif ;
    color: #C4C4C4;

}
.seller-section .right-part .first-img .pad .dolor span:last-child{
    font-size: 24px;
    font-weight: 400;
    font-family: "Poppins", sans-serif ;
    color: #000;

}